.heart-icon {
    transition: transform 0.3s ease;
  }
  
  .heart-icon.liked {
    transform: scale(1.2);
  }
  
  .comment-modal {
    height: 70vh;
    --ion-bottom-height: 70vh;
    --ion-bottom-offset: 30vh;
  }